<!DOCTYPE html>
<html>

<head>
	<title>
		Inserisci un nuovo prodotto
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
        <li><a>Menu'</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/admin/prodotti">Prodotti</a></li>
                <li><a href="/admin/fornitori">Fornitori</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
  		</ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1>Aggiungi un prodotto</h1>
	<form th:action="@{/admin/newProdotto}" method="POST" th:object="${prodotto}" enctype="multipart/form-data">
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${prodotto.nome}" /></span>
		</div>
		<div>
			<label>Prezzo:</label> 
			<span><input type="number" th:field="${prodotto.prezzo}" /></span>
		</div>

	<div class= "descrizioneContainer">
    <label for="text"> <p>Descrizione: </p></label>
    <textarea id="text" class="descrizione" name="descrizione" th:field="${prodotto.descrizione}"> </textarea>
	</div>
	<div>
    <label>Immagini:</label>
    <input type="file" th:name="file" multiple="multiple" min="2" max="4" />
	</div>
		
		<div>
			<span><button class = "conferma" type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>