<!DOCTYPE html>
<html>
   <head>
      <title >
         SiwCatalogoProdotti - Fornitore
      </title>
      <link rel="stylesheet" href="/css/stile.css" />
   </head>
   <body>
      <header> 
    <div style="float:right">
		<ul>
        <li><a>Menu'</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/prodotti">Prodotti</a></li>
                <li><a href="/fornitori">Fornitori</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
  		</ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1 th:text="${fornitore.nome}"> </h1>
	<form th:action="@{/cercaProdotti}" method="post" class="search-form">
    	<label for="searchInput" class="search-label"> <p> Ricerca prodotto </p> </label>
 		 <div class="search-bar">
    		<input type="text" th:value="${param}" name="param" id="searchInput" class="boxricerca" />
   			 <input type="submit" class="search-button"/>
  		</div>
    	<label for="searchInput" class="search-label"> <p> Inserisci un prezzo massimo </p> </label>
 		 <div class="search-bar">
    		<input type="number" th:value="${prezzo}" name="prezzo" id="searchInput" class="boxricerca" />
   			 <input type="submit" class="search-button"/>
  		</div>
	</form>
      
      <div class="descrizioneFornitore">
      <p  th:text="${fornitore.email}"> </p>
      <p  th:text="${fornitore.indirizzo}"> </p>
      </div>

      <div class="prodotti" th:if="${prodotti!=null || !prodotti.isEmpty()}" >
		  <li th:each="prodotto : ${prodotti}">
		<a th:href="@{'/prodotto/'+${prodotto.id}'/'+${prodotto.getFirstImageId()}}" th:text="${prodotto.nome}"> </a>
		  </li>
      </div>
		<div class ="prodotti" th:unless="${prodotti!=null || !prodotti.isEmpty()}">
			 Questo fornitore non ha prodotti al momento </div>
      </div> 
        
  
   </body>
</html>