<!DOCTYPE html>
<html>

<head>
	<title>
		Tutti i fornitori
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
        <li><a>Menu'</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/admin/prodotti">Prodotti</a></li>
                <li><a href="/admin/fornitori">Fornitori</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
  		</ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1>Gestisci e modifica i fornitori</h1>
	<div ><a href="/admin/formNewFornitore">Aggiungi un nuovo fornitore </a></div>
  <ul>
    <li th:each="fornitore : ${fornitori}">
      <div class="boxcategoria">
		<p th:text="${fornitore.nome}"> </p>
		<a class="dettagli" th:href="@{'/admin/fornitore/'+${fornitore.id}}">Vedi dettagli </a>
      </div>
	</li>
  </ul>
  
</body>

</html>

