<!DOCTYPE html>
<html>

<head>
	<title>
		Tutti i prodotti admin
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
        <li><a>Menu'</a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/admin/prodotti">Prodotti</a></li>
                <li><a href="/admin/fornitori">Fornitori</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
  		</ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1>Gestisci e modifica i prodotti</h1>

	<div th:if="${prodotti==null || prodotti.isEmpty()}">Non ci sono prodotti che soddisfano la richiesta </div>
	<div ><a href="/admin/formNewProdotto">Aggiungi un nuovo prodotto </a></div>
  <ul>
    <li th:each="prodotto : ${prodotti}">
      <div class="boxcategoria" th:href="@{'/admin/prodotto/'+${prodotto.id}+'/'+${prodotto.getFirstImageId()}}">
		<img th:src="@{'data:image/png;base64,' + ${prodotto.getFirstImage()}}"/>
			<p class="dettagli" th:text="${prodotto.nome}"> </p>
			<p class="dettagli" th:text="${prodotto.prezzo}"> </p>
      </div>
	</li>
  </ul>
  
</body>

</html>

