body { 
    font-family: 'Copperplate';
    color:black;
    font-size: 15px;
    background-color:white;
    margin: 0 auto;
}

h1{
  position:relative;
  justify-content: center;
  top:10%;
  font-size: 40px;
  text-align:center;
  font-family: 'Lucida Bright';
  bottom:130px;
}


input{
  font-size: 30px;
}


.error-message {
  	color: red;
  	font-style: italic;
}

a { 
	text-decoration: none; 
  	color: darkgrey;
  	float:center;
}

a:hover { 
	text-decoration: underline;
	color:black; 
}

label {
	width: 8em;
	display: inline-block;
}

header {
  background-color: darkblue;
  height: 50px;
  padding: 0.2em;
  color: white;
  
}

header a{  
    color: white;
    font-size: 20px;
    display:inline;
    float:right;
    margin-right: 30px;
    margin-top:15px;
}

header a:hover { 
	text-decoration: underline;
	color:white; 
}


.logo{
  display:flex;
  margin-left: 50px;
  bottom:5px;
  margin-top: -20px;
  
}

ul {
 list-style-type: none;
	margin: 0;
 	padding: 0;
}

/* Stile per i link principali */
li {
 display: inline-block;
 position: relative;
 }

.container {
	text-align:center;
	position:relative;
  
  background-color: #f2f2f2;
  padding: 20px;
margin: 75px 200px;

    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1{
	text-align:center;
	position:relative;
}

.log div {
  position:relative;
  text-align:center;
  margin-right: 10%;
  color:black;
  padding: 5px;
}

.log button{
	padding:5px;
	margin-left: 10%;
}

.log a{
	padding:5px;
	margin-left: 10%;
}

.container .log1{
  position:relative;
  text-align:center;
  color:black;
}

.container .log2{
  position:relative;
  text-align:center;
  color:black;
  margin-left: 10px;
  margin-bottom:-40px;
}

.container .log3 {
  position:relative;
  text-align:center;
  color:black;
  margin-bottom:-70px;
}

.log .errore{
  color:red;
}

.home{
  float:left;
  color:black;
  margin-right:20px;
} 

.index {
	display: flex;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: -130px;
}

.img1{
	position:relative;
	height: 500px;
 	width: 400px; 
    color: black; /* Colore del testo sull'immagine */
    text-align: center; /* Allinea il testo al centro */
  background-image:url('/images/catalogo2.jpg'); /* Inserisci il percorso dell'immagine qui */
    background-size: cover;
    background-position: center;
  margin-top: 60px;
  border: solid;
  
 
}

.img2{
	position:relative;
	height: 500px;
 	width: 400px; 
    color: black; /* Colore del testo sull'immagine */
    text-align: center; /* Allinea il testo al centro */
 margin-left: 20px;
 background-image:url('/images/catalogo2.jpg');/* Inserisci il percorso dell'immagine qui */
    background-size: cover;
    background-position: center;
  margin-top: 60px;
  border: solid;
  
}

.img1 h2{
	margin-top:35px;
}

.img1 a{
	color: black;
}

.img2 h2{
	margin-top:35px;
}

.img2 a{
	color: black;
}

#img1{
	position:relative;
	height: 500px;
 	width: 400px; 
	color: black; /* Colore del testo sull'immagine */
    text-align: center; /* Allinea il testo al centro */
 margin-left: 20px;
  margin-top: 60px;
  background-image:url('/images/catalogo2.jpg');/* Inserisci il percorso dell'immagine qui */
    background-size: cover;
    background-position: center;
  border: solid;
}

#img2{
	position:relative;
	height: 500px;
 	width: 400px; 
    color: black; /* Colore del testo sull'immagine */
    text-align: center; /* Allinea il testo al centro */
 margin-left: 20px;
  margin-top: 60px;
  border: solid;
  background-image:url('/images/catalogo2.jpg');/* Inserisci il percorso dell'immagine qui */
    background-size: cover;
    background-position: center;
}

#img1 h2{
	margin-top:35px;
}

#img2 h2{
	margin-top:35px;
}

.boxprodotto{
  	width:200px;
  	height:300px;
 	background-color: lightgrey;
  	border:solid;
  	margin:2em;
  	float:left;
  	bottom:100px;
  
}

.boxprodotto #image_prod{
  width:150px;
  height:170px;
  border:solid;
  position:relative;
  margin-top:10px;
  margin-left:23px
}

.boxprodotto #dettagli{
  position:relative;
  color:black;
  margin-top:30px;
  text-align:center;
}

.boxprodotto #dettagli a{
	color: black;
	font-weight: bold;
	font-size:large;
}

.boxprodotto img{
   width:100%;
  height:100%;
  
}

#image_prod img{
	 width:100%;
  height:100%;
}

.boxfornitore{
  	width:200px;
  	height:100px;
 	background-color: lightgrey;
  	border:solid;
  	margin:2em;
  	float:left;
  	bottom:100px;
  
}

.boxfornitore #dettagli{
  position:relative;
  color:black;
  margin-top:10px;
  text-align:center;
}

.boxfornitore #nome {
	color: black;
	font-weight: bold;
	font-size:large;
	text-align:center;
}

.boxfornitore #dettagli a{
	color: black;
	font-size:medium;
}

.descrizioneFornitore {
	text-align:center;
	position:relative;
 border:solid;
  color:darkblue;
  
margin: 75px 300px;
margin-top: -30px;
}

.descrizioneFornitore p{
  color:black;
}

.prodotti{
	margin-left:20px;
}

.prodotti a{
	color:black;
}

.prodotti p{
  font-weight: bold;
}

.boxFornitore{
  display:flex;
  align-items: flex-start;
  margin:30px;
  
  justify-content: space-around;
}

.descrizioneFornitoreAdmin {
	text-align:center;
	position:relative;
 border:solid;
  color:darkblue;
  padding: 20px;
margin-top:20px;
margin-bottom: 20px;
}

.descrizioneFornitoreAdmin p{
  color:black;
}

#info{
	font-weight: bold;
}

.boxProdotto{
  display:flex;
  align-items: flex-start;
  margin:30px;
  
  justify-content: space-around;
}

.descrizioneProdottoAdmin {
	text-align:center;
	position:relative;
 border:solid;
  color:darkblue;
  padding: 20px;
margin-top:-10px;
margin-bottom: 20px;
}

.descrizioneProdottoAdmin p{
  color:black2
}

.boxProdotto .conferma{
position:absolute;
  bottom:250px;
  left:900px;
}

.flex-container{
	
display:flex;
  align-items: flex-start;
  margin-top:-35px;
  justify-content: space-around;
}

.flex-container .updateProdotto{
	position:relative;
	margin-right:-600px;
}

.flex-container .updateProdottoFornitore{
	
display:flex;
  align-items: flex-start;
  margin-top:20px;
  justify-content: space-around;
  margin-right:-20px;
  width: 500px;
}

.flex-container .confermaP{
	position:absolute;
  bottom:10px;
  right:1050px;
}

.col{
	position:relative;
	margin-top:100px;
	font-size:larger;
	margin-right:300px;
	text-align:right;
}

.radio-container {
   margin-bottom: 20px;
}

.radio-container label {
  font-weight: bold;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
}

.boxCommento{
  display:flex;
  align-items: flex-start;
  margin:30px;
  justify-content: space-around;
  text-align:center;
	position:relative;
  border-radius: 20px;
  background-color: lightgray;
  padding: 20px;
margin: 20px 200px;

}

.descrizioneCommento {
	text-align:center;
	position:relative;
 border:solid;
  color:darkblue;
  padding: 20px;
margin-top:20px;
margin-bottom: 20px;
background-color: white;
}

.descrizioneCommento p{
  color:black;
}

.updateCommento .conferma{
  position:absolute;
  bottom:20px;
  right:300px;
}

.containerCommento{
	text-align:center;
	position:relative;
  border-radius: 20px;
  background-color: lightgrey;
  padding: 20px;
margin: 75px 200px;
}

.containerCommento #containerCommento{
	text-align:left;
	position:relative;
	color:black;
	justify-content: space-around;
	margin-top:-70px;
}

.containerCommento #titolo{
	font-weight: bold;
	font-size:large;
}

.containerCommento .conferma{
position:absolute;
  bottom:-10px;
  left:300px;
}

.boxCommenti{
  position:relative;
  border:solid;
  padding-bottom:10px;
  background-color:lightgrey;
  margin:30px;
}

.boxCommenti .commento{
  position:relative;
  width:90% ;
  height: 100px;
  margin-left:4.5%;
  color:black;
border:solid;
  background-color:white;
  }

.boxCommenti #titolo {
  color:black;
  position:relative;
  text-align:center;
  font-weight: bold;
  font-size:large;
}

.commento .testo {
  color:black;
  position:relative;
  text-align:left;
  margin-left:10px;
  font-size:medium;
  margin-top:20px;
}

.commento #titolo{
	color:black;
  position:relative;
   font-weight: bold;
  font-size:large;
  margin-top:40px;
}

.commento .conferma{
  position:absolute;
  bottom:0px;
  right:0px;
  
}

.descrizioneProdotto {
	text-align:center;
	position:relative;
 border:solid;
  color:darkblue;
margin: 75px 500px;
margin-top: -30px;
margin-left:50px;
margin-right:1000px;
}

.descrizionePornitore p{
  color:black;
}

.search-form{
	position:relative;
	margin-right:20px;
	margin-top:-130px;
	display:flex;
  align-items: flex-end;
  flex-direction: column;
	justify-content: space-around;
}

.search-form form {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile per le etichette dei campi di input */
.search-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}









.boxricerca{
  width:13em;
  height:0.8em;
}

.descrizione{
  width:30em;
  height:10em;
  font-size:15px;
}

.descrizioneContainer p{
position:relative;
  bottom:3.5em;
    
}

.boxImage{
  position:relative;
  left:5%;
  bottom:100px;
  width:30em;
  height:15em;
  background-color:grey;
  
}

.boxImageMini{
  position:relative;
  width:30em;
  height:12em;
  bottom:4em;
  left:5%;
  float:left;
}

.minibox{
  	position:relative;
  	border: solid;
  	width:8em;
  	height:5em;
  	margin-left:14px;
  	margin-top:12px;
  	float:left;
	right:7px;
	bottom:20px;
}

.boxImage img{
  width:100%;
  height:100%;
}

.boxImageMini img{
  width:100%;
  height:100%;
}

.prenota {
  position:relative;
  right:18em;
  top:4em;
  background-color:yellow;
  font-size:23px;
  color:black;
}


#flex-container {
  display: flex;
  align-items: flex-start;
  height: 400px;
}

.flex-item {
  background-color:black;
  height:70px;
  width:100px;
  margin:10px; 
  color:white;
}

.selezionaCategoria{
  position:relative;
  left:60%;
  bottom:5em;
  font-size:20px;
}

.categoriaTesto{
position:relative;
  left:60%;
  bottom:4.5em;
  display:inline-block;
}

.prenotazione{
  position:relative;
  top:15px;
  border:solid;
  margin-top:50px;
}

.prenotazione span{
  white-space:nowrap;
  margin-right: 50px;
}


.eliminaPrenotazione{
  color:red;
  float:right;
  margin-right:20px;
}
.recensioni {
  border:solid;
}

ul {
	list-style-type: none;
}

#flex-container-utente {
  display: flex;
  align-items: flex-start;
  height: 200px;
  width: 50%;
  justify-content: space-around;
  background-color: #f2f2f2;
border-radius: 10px;
}

.immagine_utente{
  width: 180px;
      height: 180px;
      background: red;
      border-radius: 50%;
      margin-top: 10px;
      margin-right: 20px;
      background-size: cover;
      
}

.immagine_utente img{
   width:100%;
  height:100%;
  background-size: cover;
}

.box_utente{
  width:40%;
  margin-top: 20px;
  margin-left: 20px;
}


.destinazione{
	position: absolute;
	text-align: left;
	margin-left: 80px;
	margin-top:30px;
	border-left: 6px solid yellow;	
}

.utente{
  position:absolute;
  top:12%;
  right:150px;
  display:inline-block;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}


.descrizioneContainerAdmin {
	display: flex;
  align-items: flex-start;
  justify-content: space-around;
}


