<!DOCTYPE html>
<html>
   <head>
      <title >
         SiwCatalogoProdotti - Fornitore
      </title>
      <link rel="stylesheet" href="/css/stile.css" />
   </head>
   <body>
      <header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li th:if="${#request.userPrincipal}"><a href="/logout">Logout</a></li>
           <li th:unless="${#request.userPrincipal}"><a href="/login">Login</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="15%" /></div>
	<h1 th:text="${fornitore.nome}"> </h1>
	
	
	
      
      <div class="descrizioneFornitore">
		<p id="info">Informazioni:</p>
      <p  th:text="'Email: '+${fornitore.email}"> </p>
      <p  th:text="'Indirizzo: '+${fornitore.indirizzo}"> </p>
      </div>

      <div class="prodotti" th:if="${prodotti!=null || !prodotti.isEmpty()}" >
		  <p>Ecco tutti i prodotti di questo fornitore:</p>
		  <li th:each="prodotto : ${prodotti}">
		<a th:href="@{'/prodotto/'+${prodotto.id}+'/'+${prodotto.getFirstImageId()}}" th:text="${prodotto.nome}"> </a>
		  </li>
      </div>
		<div class ="prodotti" th:unless="${prodotti!=null || !prodotti.isEmpty()}">
			 Questo fornitore non ha prodotti al momento </div>
      </div> 
        
  
   </body>
</html>