<!DOCTYPE html>
<html>

<head>
	<title>
		Tutti i fornitori
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li th:if="${#request.userPrincipal}"><a href="/logout">Logout</a></li>
           <li th:unless="${#request.userPrincipal}"><a href="/login">Login</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="15%" /></div>
	<h1>Scopri i fornitori</h1>
	<div class="search-form">
		<form th:action="@{/cercaProdotti}" method="post">
			<label for="searchInput">Cerca un prodotto per nome o quello del suo fornitore</label>
    		<input type="text" th:value="${nome}" name="param"  />
    		<div class="conferma"><button type="submit">Cerca</button></div>
		</form>
		<form th:action="@{/cercaProdottiPrezzo}" method="post">
  			<label for="searchInput">Cerca per prezzo massimo </label>
    		<input type="number" th:value="${prezzo}" name="prezzo"  />
			<div class="conferma"><button type="submit">Cerca</button></div>
		</form>
    </div>
  <ul>
    <li th:each="fornitore : ${fornitori}">
      <div class="boxfornitore">
		<p id="nome" th:text="${fornitore.nome}"> </p>
		<p id="dettagli"><a th:href="@{'/fornitore/'+${fornitore.id}}">Vedi dettagli </a></p>
      </div>
	</li>
  </ul>
  
</body>

</html>

