<!DOCTYPE html>
<html>

<head>
	<title>
		SiwCatalogoProdotti - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li><a href="/logout">Logout</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1>Visita il catalogo</h1>
	
	
	<div class="img1">
		<h2>
			<a href="/prodotti">Scopri tutti i prodotti</a>
		</h2>
	</div>
  	<div class="img2">
  		<h2>
			<a href="/fornitori">Vedi tutti i fornitori</a>
		</h2>
  	</div>
</body> 

</html>