<!DOCTYPE html>
<html>

<head>
	<title>
		SiwCatalogoProdotti - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:left"> </div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="20%" /></div>
	<h1>Catalogo prodotti</h1>
	
	<div class="container">
		<h2>Per vedere il catalogo effettua il login o registrati</h2>
		<div><a  th:href="@{/login}" >Effettua il login</a></div>
		<div><a  th:href="@{/register}" >Registrati</a></div>
  	</div>
</body> 

</html>

