<!DOCTYPE html>
<html>
   <head>
      <title >
         SiwCatalogoProdotti - Prodotto
      </title>
      <link rel="stylesheet" href="/css/stile.css" />
   </head>
   <body>
      <header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li th:if="${#request.userPrincipal}"><a href="/logout">Logout</a></li>
           <li th:unless="${#request.userPrincipal}"><a href="/login">Login</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="15%" /></div>
	<h1 th:text="${prodotto.nome}"> </h1>
	
	
	
	
	<div class="descrizioneProdotto">
		<p id="info">Informazioni:</p>
      <p  th:text="'Prezzo: '+${prodotto.prezzo}"> </p>
      <p  th:text="'Descrizione: '+${prodotto.descrizione}"> </p>
      </div>
      


	
	
	<div class="prodotti" th:if="${prodotto.fornitori!=null || !prodotto.fornitori.isEmpty()}" >
		  <p>Ecco tutti i fornitori di questo prodotto:</p>
		  <li th:each="fornitore : ${prodotto.fornitori}">
		<a th:href="@{'/fornitore/'+${fornitore.id}+'/'+${prodotto.getFirstImageId()}}" th:text="'> '+${fornitore.nome}"> </a>
		  </li>
      </div>
		<div class ="prodotti" th:unless="${prodotto.fornitori!=null || !prodotto.fornitori.isEmpty()}">
			 Questo fornitore non ha prodotti al momento </div>
      </div> 
      <div class = "boxCommenti" >
		  <p id="titolo">Commenti</p>
		  <div class ="commento" th:if="${comUser}!=null">
			<div class="testo">
            <span id="titolo" th:text="'Il tuo commento: '+${comUser.nome}"> </span>
			<p th:text="${comUser.descrizione}"> </p>
			</div>
			<a class="conferma" th:href="@{'/modificaCommento/' + ${comUser.id} }"><button type="button">Modifica</button></a>
         </div>
         <div class ="commento" th:unless="${comUser}!=null">
			<a class="conferma" th:href="@{'/formNewCommento/' + ${prodotto.id}}"><button type="button">Aggiungi commento</button></a>
         </div>
         <div class ="commento" th:if="${commentiNotUser!=null || !commentiNotUser.isEmpty()}" th:each="commento : ${commentiNotUser}">
            <div class="testo">
            <span id="titolo" th:text="'Commento di: '+${commento.user.name}+' - '+${commento.nome}"> </span>
      		<p th:text="${commento.descrizione}"> </p>
            </div>
         </div>
		 <div  th:unless="${commentiNotUser!=null || !commentiNotUser.isEmpty()}">
			 Non ci sono commenti per questo prodotto </div>
      </div> 
        
  
   </body>
</html>