<!DOCTYPE html>
<html>

<head>
	<title>
		Tutti i prodotti
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li th:if="${#request.userPrincipal}"><a href="/logout">Logout</a></li>
           <li th:unless="${#request.userPrincipal}"><a href="/login">Login</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="15%" /></div>
	<h1>Sfoglia i prodotti</h1>
	<div class="search-form">
		<form th:action="@{/cercaProdotti}" method="post">
			<label for="searchInput">Cerca un prodotto per nome o quello del suo fornitore</label>
    		<input type="text" th:value="${nome}" name="param"  />
    		<div class="conferma"><button type="submit">Cerca</button></div>
		</form>
		<form th:action="@{/cercaProdottiPrezzo}" method="post">
  			<label for="searchInput">Cerca per prezzo massimo </label>
    		<input type="number" th:value="${prezzo}" name="prezzo"  />
			<div class="conferma"><button type="submit">Cerca</button></div>
		</form>
    </div>
	<div th:if="${prodotti==null || prodotti.isEmpty()}">Non ci sono prodotti che soddisfano la richiesta </div>
  <ul>
    <li th:each="prodotto : ${prodotti}">
      <div class="boxprodotto">
		<div id="image_prod"><img th:src="@{'data:image/png;base64,' + ${prodotto.getFirstImage()}}"/></div>
			<p id="dettagli">
				<a th:href="@{'/prodotto/'+${prodotto.id}}" th:text="${prodotto.nome}">
				</a> </p>
			<p id="dettagli" th:text="'Prezzo: '+${prodotto.prezzo}+' euro'"> </p>
      </div>
	</li>
  </ul>
  
</body>

</html>

