<!DOCTYPE html>
<html>

<head>
	<title>
		Modifica commento
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
     <header> 
    <div style="float:right">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
           <li><a href="/fornitori">Fornitori</a></li>
           <li th:if="${#request.userPrincipal}"><a href="/logout">Logout</a></li>
           <li th:unless="${#request.userPrincipal}"><a href="/login">Login</a></li>
         </ul>
	</div>
	</header>

	<div class="logo"><img src="/images/logoCatalogoProdotti.png" width="15%" /></div>

	<h1>Modifica il tuo commento</h1>
	<div class="boxCommento" >
    	<div class="descrizioneCommento">
			<p id="info">Il tuo vecchio commento</p>
      		<p  th:text="'Nome: '+${commento.nome}"> </p>
      		<p  th:text="'Descrizione: '${commento.descrizione}"> </p>
    	</div>
    	<div class="updateCommento">
			<p id="info">Cambia commento:</p>
			<form th:action="@{'/updateNome/'+ ${commento.id}}" method="post">
				<span><input type="text" th:value="${nome}" name="nome" placeholder="Modifica nome"/></span>
        		<a><input type="submit" value="Modifica"/></a>
			</form>
			<form th:action="@{'/updateDescrizione/'+ ${commento.id}}" method="post">
				<span><input type="text" th:value="${descrizione}" name="descrizione" placeholder="Modifica descrizione"/></span>
        		<a><input type="submit" value="Modifica"/></a>
			</form>
			<div>
				<a class="conferma" th:href="@{'/rimuoviCommento/' + ${commento.id} }"><button type="button">
					Rimuovi il commento</button></a>
			</div>
		</div>
    </div>
</body>

</html>